*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact-header{
    background: linear-gradient(180deg,rgba(0,0,0,.8),rgba(0,0,0,.2)),url(https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    text-align: center;
}
.contact-header p{ 
 color:goldenrod;
 font-size: 2rem;
 font-weight: 600;
}
.contact-header h1{
    color:aliceblue;
    font-size: 3.2rem;
    text-transform: uppercase;
}
.contact-address{
    background-color: goldenrod;
    display: flex;
    margin-bottom: 4rem;
}
.form-container{
    background-color: black;
    width:45%;
    box-shadow: 0 0 10px 10px rgba(0,0,0,.5);
    margin-top: -5rem;
    margin-left:1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}
.form{
    display: flex;
    flex-direction: column;
    padding:10%;
}
.form label{
    color:aliceblue;
    font-size: 1rem;
}
.form input{
    width:100%;
    height: 2.5rem;
    background-color: #333;
    border:none;
    font-size: 1rem;
    margin:1rem 0;
    outline: 1px solid goldenrod;
    padding-left:1rem;
    color: aliceblue;
}
.form textarea{
    width:100%;
    height: 15rem;
    background-color: #333;
    border:none;
    font-size: 1rem;
    margin:1rem 0;
    outline: 1px solid goldenrod;
}
.form button{
    background-color: goldenrod;
    height: 2.5rem;
    width: 100%;
    border: none;
    color:#000;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
}
.address-details{
    width: 45%;
    margin-left: 4rem;
    margin-top: 2rem;
}
.connect,.follow-us{
    margin-bottom: 2rem;
}
.template{
    width: 2rem;
    object-fit:contain;
    margin: 0 1rem;
}
.add-head{
    color: #111;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.email-add,.mobile-no{
    display: flex;
    margin: 1rem 0;
}
.email-add p,.mobile-no p{
    font-size:1rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: #000;
}
.location-container{
    display: flex;
}
.location-container p{
    font-size: 1.1rem;
    color: #000;
}
@media screen and (max-width:700px) {
    .contact-address{
        display:block;
        padding-top:10rem;
        margin-bottom: 1rem;
        padding-bottom: 3rem;
    }
    .address-details{
    width:100%;
    margin-left:1rem;
}
.form-container{
    width: 90%;
}

}